*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    background-color: #040016;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #43349B;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
}
.logo {
    grid-area: logo;
    color: #f1f1f1;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem
}

nav ul li a:hover {
    color: #D4B0FF; 
}

.hero {
    background-color: #040016;
    color: #f1f1f1;
    padding: 10rem;
    text-align: center;
    display: grid;
    grid-template-areas: "titles" "subtitle";
    justify-content: center;
    align-items: center;
    height: 15rem;
    max-width: 85%;
    width: auto;
    margin: 0 auto;
}

.hero h2 {
    color: #A150F2; 
    font-size: 3rem; 
    text-align: left; 
}

.hero p {
    font-size: 1.4rem;
    grid-area: subtitle;
    font-weight: regular;
    text-align: left;
    margin-top: 2rem;
}

.container {
    margin: 0 90%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

::selection {
    background-color: #5F1B8C; 
    color: #fff; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-gap: 2rem;
    grid-template-areas: 
        "card1 card2 card3"
        "card4 card5 card6"
        "card7 card8 card9";
    margin: 5rem 20rem;
    padding: 3;
    box-sizing: border-box;
}

.card {
    width: calc(100% - 1rem); 
    margin-bottom: 3rem; 
    border-radius: 10px;
    background-color: #090228;
    padding: 1rem;
    text-align: center;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
}

.card p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: lighter;
}

.card img {
    width: 100%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.card .price {
    font-size: 2rem;
    color: #A14ED9;
    position: absolute; 
    bottom: 50px; 
    left: 10px; 
    font-weight: bold
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

.card9 {
    grid-area: card9;
}

.card button {
    color: #fff; 
    background-color: transparent; 
    border: 1px solid #A14ED9; 
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; 
    bottom: 10px; 
}

.card button.details {
    left: 10px; 
    width: calc(50% - 15px); 
}

.card button.buy {
    background-color: #A14ED9; 
    color: #fff; 
    border: 1px solid #A14ED9;
    right: 10px; 
    width: calc(50% - 15px); 
}

.card p {
    margin-bottom: 8rem;
}

.card button.buy:hover {
    background-color: #301040;
}

.card button.details:hover {
    background-color: #A14ED9;
}


.footer {
    background-color: #43349B;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: copyright;
}

.footer-content {
    grid-area: copyright;
    text-align: right; 
}

.footer-content ul {
    list-style-type: none; 
}

.footer-content ul li {
    margin-bottom: 20px; 
}

.footer {
    position: relative; 
    padding: 10px; 
}

.info-left {
    position: absolute;
    left: 0;
    bottom: 1; 
}