body{
    max-height: 100vh;
    margin: 0; 
    padding: 0;

    background: #160323;

    /* font padrão */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* faz uma margem para não deixar os elementos dentro da classe encostar nas bordas*/
.container {
    margin: 20px;
}

/* faz com a tag que tiver a classe fique com o display flex */
.flex{
    display: flex;
    flex-wrap: wrap;
}

/* alinha o texto ao centro e os elementos ao centro de forma vertical PRECISA DA CLASSE FLEX*/
.items-center{
    text-align: center;
    align-items: center;
}

/* alinha os elementos ao centro de forma horizontal PRECISA DA CLASSE FLEX */
.justify-center{
    justify-content: center;
}

.gap-10{
    gap: 10px;
}

/* faz um espaçamento de 30px entre os elementos dentro da div */
.gap-30{
    gap: 30px;
 }

/* faz um espaçamento de 100px entre os elementos dentro da div */
.gap-60{
    gap: 60px;
}

/* faz o elemento ficar com o tamanho de 100% - PONTA A PONTA DA TELA - se tiver o container vai ser até a ponta da margem */
.w-full{
    width: 100%;
}

/* faz o elemento ficar invisivel */
.hidden {
    display: none;
}


/* FONTS */

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* APLICAÇÕES DO HEADER*/

.back-image{
    width: 100%;
    padding-top: 30px;
    background-image: url(images/image-header.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.logoheader{
    width: 200px;
    height: 40px;
}

.register{
    background-color: #3c0a5c;
    color: #fff; 
    border-radius: 5px;
    border: none;

    height: 30px;

    padding: 5px;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}


.login{
    background-color: #5F1B8C;
    color: #fff; 
    border-radius: 5px;
    border: none;

    height: 30px;

    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header {
    background-color: #43349B;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
}
.logo {
    grid-area: logo;
    color: #f1f1f1;
}


/* APLICAÇÕES DOS CARDS */
.card {
    width: 23rem;
    height: auto; 

    border-radius: 10px;
    background-color: #090228;
    
    color: white;
    text-align: left;

    position: relative;
}

.card h2 {
    font-size: 1.5rem;
    margin-top: 5px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.price {
    font-size: 2rem;
    color: #A14ED9;
    font-weight: bold
}

.details{
    background-color: transparent; 
    border: 1px solid #A14ED9; 
    border-radius: 4px;
    color: white; 

    padding: 0.5rem 2rem;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy {
    background-color: #A14ED9; 
    border: 1px solid #A14ED9;
    border-radius: 4px;
    color: white; 
    
    padding: 0.5rem 2rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.buy:hover {
    background-color: #7100a9;
    border: 1px solid #7100a9;
}

.details:hover {
    background-color: #A14ED9;
}